@font-face {
  font-family: "Plag";
  src: url("Plag.otf") format("opentype");
}
body {
  background-color: #FF5442;
  color: black;
}

body * {
  font-family: "Plag"; 
  font-weight: 400;
}

a, a:hover {
  color: black;
  text-decoration: underline;
}

.poc-color-1 {
  color: #F0FCFF;
}

.poc-color-2 {
  color: #F0FBFF;
}

.poc-color-3 {
  color: #F0FBFF;
}

.poc-color-4 {
  color: #EDF9FF;
}

.poc-color-5 {
  color: #C4EAFF;
}

.poc-color-6 {
  color: #9BD8FF;
}

.poc-color-7 {
  color: #79B1D9;
}

.poc-color-8 {
  color: #5B8BB3;
}

.poc-color-9 {
  color: #41688C;
}

.poc-color-10 {
  color: #2E4966;
}





.poc-navbar-container li a {
  color: #41688C;
}

.poc-navbar-container li.uk-active a {
  color: #2E4966;
}

.poc-logo {
  color: #2E4966;
}

.poc-hero-container {
  background-color: #2E4966;
  height: 34rem;
  margin-top: 0px;
}

.poc-hero {
  color: #2E4966;
  margin-top: 13rem;
  line-height: 1.2;
  position: relative;
}

.poc-body-container {
  margin-top: 8rem;
}

.poc-body-title {
  margin-bottom: 5rem;
  text-align: center;
}

.poc-body-container .uk-text-lead {
  margin-bottom: 5rem;
}

.poc-footer-container {
  height: 21rem;
  background-color: #2E4966;
}

.some-grafika {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  pointer-events: none;
}

.some-golab {
  position: absolute;
  top: 8%;
  left: 8%;
  width: 38%;
}

.rotating {
  font-size: 55px;
  color: black;
  line-height: 50px;
}

.rotating:first-child {
  margin-top: 34%;
}

.rotating.static {
  position: relative;
  text-align: justify;
}

.some-body-text {
  font-size: 24px;
  padding-bottom: 610px;
}

.some-input {
  background-color: transparent;
  color: black;
  border: 1px solid black;
  font-size: 37px;
  border-radius: 9px;
  line-height: 55px;
  display: block;
  height: 69px;
}

.some-input:focus, .some-input:hover {
  background-color: transparent;
  border: 1px solid black;
  color: black;
}

.some-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

.some-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}

.some-input::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
}

.some-radio-label {
  display: inline-block;
  border: 1px solid black;
  padding: 9px;
  height: 49px;
  border-radius: 9px;
  margin-left: 9px;
  font-size: 24px;
  line-height: 24px;
  color: black;
}

.some-radio[type="radio"] {
  position: relative;
  top: -9px;
  display: inline-block;
  color: black;
  border: 1px solid black;
}

.some-radio[type="radio"]:checked {
  background-color: black;
}

.i-understand {
  min-width: 226px;
}

.i-understand label {
  text-align: center;
}

.some-body-text .text-even-smaller {
  font-size: 18px;
}

.name-from-list {
  height: 69px;
}

.name-from-list > div {
  font-size: 37px;
  height: 51px;
  border: 1px solid black;
  border-radius: 9px;
  text-align: center;
  padding: 9px;
}

/* .name-repeat-please {
} */

.name-repeat-please > div {
  border: 1px solid black;
  
  border-radius: 9px;
  padding: 9px;
}

.name-repeat-please label.uk-form-label {
  font-size: 24px;
  margin-top: 0px;
  line-height: 34px;
  color: black;
}

.some-submit {
  min-width: 198px;
}

.some-submit input[disabled] {
  color: black;
  border: 1px solid black;
  opacity: 0.34;
}

.some-submit input[disabled]:hover {
  cursor: not-allowed;
}

.last-submit input {
  position: relative;
  top: 10px;
}

@media screen and (max-width: 639px) {
  .some-submit {
    margin: 0 auto;
  }
}

@media screen and (max-width: 1054px) {
  .name-please {
    width: 100%;
  }
  .i-understand {
    width: 100%;
    margin-top: 15px;
  }
  .name-repeat-please {
    width: 100%;
  }
  .some-submit {
    width: 100%;
  }
  .some-submit input {
    margin: 0 auto;
  }
}

@media screen and (max-width: 1194px) and (min-width: 1055px) {
  .name-please {
    width: 100%;
  }
  .i-understand {
    margin: 15px 15px 0 auto;
  }
  .first-submit {
    margin: 15px auto 0 0;
    padding-left: 0px;
  }
  
}

@media screen and (min-width: 1055px) {
  .last-submit {
    text-align: right;
  }

  .last-submit label {
    display: inline-block;
  }

  .rotating {
    font-size: 69px;
    line-height: 64px;
  }
}

@media screen and (min-width: 1195) {
  .first-submit {
    text-align: right;
  }

  .first-submit label {
    display: inline-block;
  }

  .rotating {
    font-size: 112px;
    line-height: 104px;
  }
}
